{% extends 'app/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <h2 class="content__developer developer">Разработка</h2>
            <div class="developer__card">
                <div class="developer__title">Вилигурин Виктор Николаевич</div>
                <div class="developer__info">
                    <div class="developer__tg">@tg_razrab</div>
                    <div class="developer__phone">+7 912 413-50-27</div>
                    <div class="developer__email">smt_razrab@mail.ru</div>
                </div>
            </div>
            <h2 class="content__design design">Дизайн</h2>
            <div class="design__card">
                <div class="design__title">Вилигурин Виктор Николаевич</div>
                <div class="design__info">
                    <div class="design__tg">@tg_razrab</div>
                    <div class="design__phone">+7 912 413-50-27</div>
                    <div class="design__email">smt_razrab@mail.ru</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}