<div class="content__nav nav">
    <div class="nav__title nav__title-1">Навигация</div>
    <nav class="nav__nav">
        <div><a href="{% url 'app:trainers' %}" class="nav__link">Наши тренера</a></div>
        <div><a href="{% url 'app:show_schedules' %}" class="nav__link">Расписание</a></div>
        <div><a href="{% url 'app:events' %}" class="nav__link">Мероприятия</a></div>
        <div><a href="{% url 'app:contacts' %}" class="nav__link">Контакты</a></div>
        <div><a href="{% url 'app:about' %}" class="nav__link">О нас</a></div>
    </nav>
</div>