{% extends 'app/base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <h1 class="content__title">Редактирование</h1>
            <form action="{% url 'app:edit_schedule' schedule.id %}" method="post">
                {% csrf_token %}
                {{ form.days }}
                {{ form.time }}
                <button type="submit">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}