{% extends 'app/base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block css %}{% static 'css/in_development.style.css' %}{% endblock %}

{% block content %}
    <main class="content">
        <div class="container">
            <div class="content__message">
                <img src="{% static 'img/in_development.png' %}" alt="">
            </div>
            <div class="content__back">
                <a href="{% url 'app:index' %}" class="content__link">На главную</a>
            </div>
        </div>
    </main>
{% endblock %}